@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* main themes color */
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;

  /* hover colors */
  --hover-color: #f5004f;

  /* background-color */
  --body-bg-color: #fefefe;
  --card-bd-color: #fff;
  --model-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color1: rgba(0, 0, 0, 0.1);
  --transparent-color2: rgba(106, 89, 209, 0.1);
  --line-color: #d7d7d7;

  /* color-filter */
  --color-filter: invert(1);

  /* box-shadow: */
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /* font-size */
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /* scrollbar-colors */
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
  /* main themes color */
  --first-color: #fff;
  --second-color: #6a59d1;
  --third-color: #a9afc3;

  /* background-color */
  --body-bg-color: #0e1b31;
  --card-bd-color: #132347;
  --model-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --transparent-color1: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;

  /* color-filter */
  --color-filter: invert(0);

  /* scrollbar-colors */
  --scroll-bar-color: #c1ceff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--first-color);
  background-color: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* ===========scrollbar ========== */
::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

/* ============ header =========== */
header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

head.sticky {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
}

header.sticky .nav-bar {
  height: calc(2.5em + 1rem);
}

.nav-bar .logo {
  color: var(--first-color);
  font-size: 1.3em;
  font-weight: 600;
}

.nav-items a {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.nav-items a.active {
  color: var(--second-color);
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}
.nav-items a:hover {
  color: var(--second-color);
}

.nav-menu-btn {
  display: none;
}

/* hom-section */
.home {
  position: relative;
  max-width: 1250px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
}

.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-container .media-icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.home-container .media-icons a {
  color: var(--second-color);
  font-size: 1.5em;
  margin: 10px 0;
}
.home-container .media-icons a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.home-container .info h2 {
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
}

.home-container .info h3 {
  color: #7c00fe;
  font-size: x-large;
  font-feature-settings: 1.3em;
  font-weight: 600;
  line-height: 50px;
}

.btn {
  background-color: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px 30px;
  letter-spacing: 1px;
  border-radius: 12px;
}
.btn:hover {
  transform: scale(1.03);
  background: var(--hover-color);
}

.home-container .home-img {
  position: relative;
}

.home-container .home-img img {
  width: 90%;
  transform: translate(0, 0);
}

.home .scroll-down {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-top: 20px;
}

.home .scroll-down:hover {
  color: var(--hover-color);
}

.home .scroll-down i {
  color: var(--second-color);
  font-size: 1.2em;
  animation: arrow-down ease 2s infinite;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}
/* --- common size for all sectins */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  max-width: 1150px;
  /* max-width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section {
  position: relative;
  max-width: 1150px;
  /* max-width: 100%; */
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 130%);
  --webkit-background-clip: text;
  --webkit-text-fill-color: transparent;
  opacity: 0.1;
}

.section-title-02 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-80px);
}

.section-title-02::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}

.container {
  position: relative;
  flex-direction: column;
}

/* ==========about section ==========   */
/* Flex container for image and content */
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-img {
  flex: 1;
  min-width: 500px;
  position: relative;
}

.about-img img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.about-info {
  flex: 2;
  max-width: 600px;
}

.about-info .description {
  margin-bottom: 20px;
}

.about-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

/* =========== skills section ======================= */
.skills .container .content {
  width: 100%;
}
.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}

.skills-description h3 {
  font-size: 2em;
  margin-bottom: 5px;
}

.skills-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
}

.skills-info h4 {
  margin-bottom: 20px;
}

.skills-info h4 label {
  background: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.education-all {
  margin-bottom: 80px;
}

.edu-list .item {
  background: var(--card-bd-color);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
}

.edu-list .item .year {
  font-size: var(--small-font-size);
  margin-bottom: 5px;
}

.edu-list .item p {
  color: var(--third-color);
  font-size: var(--small-font-size);
}

.edu-list .item p span {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

.education {
  width: 200%;
}
.education-awards {
  display: flex;
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
  transition: 0.5s;
  color: var(--hover-color);
  border-bottom: 3px solid var(--hover-color);
}

.skills-card {
  width: 230px;
  border: 1px solid whitesmoke;
  border-radius: 14px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}
.skills-card img {
  margin-bottom: 10px;
}
.skills-card h3 {
  text-align: center;
}

.skills-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.skills-card-img {
  width: 100%;
  border-radius: 14px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  /* flex-grow: inherit; */
  justify-content: space-between;
}

/* ==========project============ */
/* Project Card styling */
.project-card {
  width: 340px;
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.project-card-img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 5px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* Button styling */
.project-card-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
  margin-top: 5px; /* Space above the buttons */
  margin-bottom: 5px;
}

.project-card-buttons .btn {
  flex: 1; /* Allows buttons to expand to equal width */
  text-align: center;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.project-card-buttons .btn.live {
  background-color: #28a745; /* Green for Live */
}

.project-card-buttons .btn.github {
  background-color: #333; /* Dark color for GitHub */
}

.project-card-buttons .btn:hover {
  opacity: 0.8; /* Slightly fade on hover */
}

.project-card-buttons .btn.live:hover {
  background-color: #218838; /* Darker green on hover */
}

.project-card-buttons .btn.github:hover {
  background-color: #111; /* Darker shade on hover */
}

/* ============ Certifications Section ================ */
/* Certifications Section */

.certifications-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.certification-card {
  width: 340px;
  border: 1px solid lightgray;
  border-radius: 14px;
  padding: 10px;
  transition: box-shadow 0.3s ease;
  text-align: center; /* Center text inside card */
}

.certification-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--hover-color);
  cursor: pointer;
}

.certification-card-img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 5px;
}

.certification-card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.certification-card-buttons .btn {
  text-align: center;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.certification-card-buttons .btn.view {
  background-color: #007bff; /* Blue for View */
}

.certification-card-buttons .btn.view:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* ============== contact Section ================ */

.contact .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* ========================== */
.contact-left {
  margin-right: 100px;
}
/* =================================== */

.contact-left h2 {
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 40px;
}

.contact-list li {
  margin-bottom: 40px;
}

.contact-list li h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-list li h3 i {
  color: var(--second-color);
  font-size: 1.3em;
  margin-right: 10px;
}

.contact-list li span {
  color: var(--third-color);
  margin-left: 40px;
}

.contact-list li span a {
  color: var(--third-color);
}

.contact-right p {
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}

.contact-right p span {
  color: var(--first-color);
  font-weight: 700;
}

/* .contact-right{
  margin-left: 100px;
} */

.contact-form input,
.contact-form textarea {
  border: none;
  color: var(--first-color);
  background: var(--transparent-color2);
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
  padding: 15px 40px 40px 20px;
  border-radius: 5px;
}

.contact-form textarea {
  width: 100%;
  resize: none;
}

::placeholder {
  color: var(--first-color);
}

.contact-form .first-row input {
  width: 100%;
}

.contact-form .second-row {
  display: flex;
  justify-content: space-between;
}

.contact-form .second-row input {
  width: 45%;
}

.contact-form .btn {
  border: none;
  margin-top: 0;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--second-color);
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #fff;
}

footer a {
  color: #fff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.footer-container .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, #fff 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}

.footer-container .about p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .follow li a:hover {
  color: #D0A2F7;
}

.footer-container .info h3,
.footer-container .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
  display: flex;
}

.footer-container a {
  font-size: 1.5em;
  margin: 20px;
}

.footer-copyright p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-top: 50px;
}

/* ====scroll btn========== */

.scrollToTop-btn {
  z-index: 99999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--second-color);
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 3px;
  cursor: pointer;
  opacity: 0;
  transition: 0.5 ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
  border-radius: 12px;
}

/* =============== theme-btn =============== */

.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color1);
  backdrop-filter: blur(20px);
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

/* ================ Media Query max-width 1070px ============= */
@media screen and (max-width: 1070px) {
  /* ========= header navigation ========== */

  .navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--transparent-color1);
    visibility: hidden;
    opacity: 0;
    transition: 0.3 ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-menu-btn {
    background: url(asserts/media-queries/menu-icon.png) no-repeat;
    filter: var(--color-filter);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    color: #007bff;
  }

  .nav-close-btn {
    position: absolute;
    background: url(asserts/media-queries/close-icon.png) no-repeat;
    filter: var(--color-filter);
    background-size: 25px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }

  .nav-items {
    position: relative;
    background: var(--model-bg-color);
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: 0.5s ease;
  }

  .navigation.active .nav-items {
    transform: translateY(0);
  }

  .nav-items a {
    margin: 15px 50px;
  }

  /* ============== Home Section ================ */
  .home .home-container .info {
    font-size: 0.85rem;
  }

  /* ============== About Section ================ */
  .about .container .content {
    display: grid;
    width: 100%;
    row-gap: 20px;
  }

  .about-img img {
    min-width: 0;
    width: 100%;
  }

  .about-info {
    min-width: 0;
    width: 100%;
  }

  /* =========Contact Section ================ */
  .contact .content {
    flex-direction: column;
    font-size: 0.9rem;
  }

  .contact .contact-left {
    margin-bottom: 40px;
  }

  .contact-form .second-row {
    flex-direction: column;
  }

  .contact-form .second-row input {
    width: 100%;
  }

  /* =================footer Section ============== */

  footer .footer-container {
    flex-direction: column;
  }

  .footer-container .about,
  .footer-container .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .footer-container .info ul li {
    margin: 5px 0;
  }

  .footer-container .hr {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0 22px;
  }
}

/* ============Media Query with 730px======= */

@media screen and (max-width: 730px) {
  /* ==============common style for all sections============ */
  body {
    margin: 5rem 0 0 0;
  }

  .section-title-01 {
    font-size: 3em;
  }
  .section-title-02 {
    font-size: 2em;
    transform: translateY(-65px);
  }

  /* ==================home section========== */

  .home .home-container {
    display: grid;
  }

  .home-container .home-img {
    position: absolute;
  }

  .home-container .home-img img {
    width: 65%;
    transform: translate(80px, -180px);
  }

  .home .home-container .info {
    font-size: 0.8rem;
  }

  .media-icons {
    margin-bottom: 80px;
  }

  /* =================footer Section ============== */
}
